<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts 折线图</title>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>
    {% for kpidata in list %}
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id='{{kpidata.index}}' style="width: 100%;height:200px;">

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('{{kpidata.index}}'));
    // 指定图表的配置项和数据
    var option = {
            // 标题
            title: {
                text: '{{ kpidata.total }}'
            },
            // 提示工具
            tooltip: {
                trigger: 'axis'
            },
            // 图例-可筛选查看
            legend: {
                data:['交易量']
            },
            // 调整折线图位置
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            // 工具箱-保存图片
            toolbox: {
                feature: {
                    saveAsImage: {show:true}
                }
            },
            dataZoom:[
                {
                    height: 20,  //时间滚动条的高度
                    type: 'slider', //type的作用是指定数据缩放的类型，slider表示使用滑动条进行缩放，inside表示使用鼠标滚轮进行缩放。
                    xAxisIndex: 0,  // 作用在x轴的下标（因为X轴可以有多个）
                    filterMode: 'filter', // 'filter' 表示滑动时间条直接过滤掉不在时间范围内的数据，'weakFilter'表示滑动时间条时会逐渐过滤掉不在时间范围内的数据
                    start: 0,
                    end: 100
                },
                {
                    height: 20,  //时间滚动条的高度
                    type: 'inside', //type的作用是指定数据缩放的类型，slider表示使用滑动条进行缩放，inside表示使用鼠标滚轮进行缩放。
                    xAxisIndex: 0,  // 作用在x轴的下标（因为X轴可以有多个）
                    filterMode: 'filter', // 'filter' 表示滑动时间条直接过滤掉不在时间范围内的数据，'weakFilter'表示滑动时间条时会逐渐过滤掉不在时间范围内的数据
                    start: 0,
                    end: 100
                }
            ],
            //  x轴
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: {{ kpidata.axis|safe }}
            },
            // y轴自动生成
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'交易量',
                    type:'line',
                    smooth:true,
                    color: '#18A8FF', // 设置颜色
                    data: {{ kpidata.data|safe }}
                }
            ]
        };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    </script>
    </div>
    {% endfor %}
</body>
</html>
