<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .system.check{
        background-color: aqua;
    }
    </style>
    <script>
        const data = {{ data|safe }}
        console.log(data)
    </script>
    <script>
        function f() {
            var table = document.getElementById("table_id")
            var button = document.getElementById("button_id")
            if (table.style.display === "none"){
                table.style.display="block"
                button.innerText = "收起"
            }else {
                table.style.display="none"
                button.innerText = "展开"
            }

        }
    </script>

</head>
<body>
    <form action="" method="post">
        <label for="time">日期:</label>
        <input type="datetime-local" id="time" name="time">
        <label for="keys">关键字:</label>
        <input type="text" id="keys"  placeholder="请输入关键字" name="keys">
        <input type="submit" value="提交">
    </form>
    <button id="button_id" onclick="f()">收起</button>
    <table style="border: 1px solid black" id="table_id">
        <tr>
            <td>name</td>
            <td>age</td>
            <td>sex</td>
        </tr>
        <tr>
            <td>小强</td>
            <td>12</td>
            <td>男</td>
        </tr>
        <tr>
            <td>小方</td>
            <td>11</td>
            <td>男</td>
        </tr>
    </table>
    <script>
      table_dom = document.getElementById('table_id')
       if(Object.keys(data).length){
           table_dom.style.display='block'
           time_dom = document.getElementById('time')
           time_dom.value='{{ strTime }}'
           keys_dom = document.getElementById('keys')
           keys_dom.value='{{ keys }}'
       }else {
           table_dom.style.display='none'
       }
    </script>
</body>
</html>