<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .system.check{
        background-color: aqua;
    }
    </style>

    <script>
        function f() {
            var table = document.getElementById("table_id")
            var button = document.getElementById("button_id")
            if (table.style.display === "none"){
                table.style.display="block"
                button.innerText = "收起"
            }else {
                table.style.display="none"
                button.innerText = "展开"
            }

        }
    </script>

</head>
<body>
    <button id="button_id" onclick="f()">收起</button>
    <table style="border: 1px solid black" id="table_id">
        <tr>
            <td>name</td>
            <td>age</td>
            <td>sex</td>
        </tr>
        <tr>
            <td>小强</td>
            <td>12</td>
            <td>男</td>
        </tr>
        <tr>
            <td>小方</td>
            <td>11</td>
            <td>男</td>
        </tr>
    </table>

</body>
</html>