<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collapsible List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/test.css' %}">
</head>
<body>

    <button class="collapsible" onclick="toggleContent(event)">点击我展开/收起内容</button>
    <div id="content" class="content">这里是需要展开或收起的内容。</div>

    <script>
        function toggleContent(e) {
            var content = document.getElementById("content");

            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        }
    </script>
</body>
</html>